name: Test
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  test:
    strategy:
      matrix:
        os:
          - ubuntu-20.04
          - ubuntu-22.04
          - ubuntu-24.04
          - ubuntu-22.04-arm
          - ubuntu-24.04-arm
          # - windows-2019  # doesn't work
          - windows-2022
          - windows-2025
          - macos-13
          # - macos-14  # doesn't work, see https://github.com/marketplace/actions/setup-docker-on-macos#arm64-processors-m1-m2-m3-series-used-on-macos-14-images-are-unsupported
          # - macos-15  # doesn't work, see https://github.com/marketplace/actions/setup-docker-on-macos#arm64-processors-m1-m2-m3-series-used-on-macos-14-images-are-unsupported
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
      - name: Set up Docker
        uses: ./
      - name: Run Docker hello-world
        run: docker run --rm --platform linux -t hello-world
      - name: Run Docker httpd
        run: |
          docker run --name webserver --rm -p 8080:80 -d httpd
          curl --retry 5 --retry-connrefused http://127.0.0.1:8080/
          docker stop webserver
